{
  "extends": ["standard", "prettier"],
  "plugins": ["prettier"],
  "parser": "babel-eslint",
  "rules": {
    "prettier/prettier": "error",
    "standard/computed-property-even-spacing": "off",
    "no-template-curly-in-string": "off",
    "camelcase": "off",
    "import/no-duplicates": "off"
  },
  "overrides": [
    {
      "files": ["*.test.js", "**/__tests__/**"],
      "env": {
        "jest": true
      }
    },
    {
      "files": ["**/packages/*/src/*", "**/packages/*/src/**/*"],
      "rules": {
        "import/no-commonjs": "error"
      }
    },
    {
      "files": ["**/__fixtures__/*"],
      "rules": {
        "no-unused-vars": "off"
      },
      "env": {
        "jest": false
      }
    }
  ]
}
