{
  "extends": [
    "plugin:@typescript-eslint/eslint-recommended",
    "standard",
    "prettier"
  ],
  "plugins": ["prettier", "@typescript-eslint"],
  "parser": "@typescript-eslint/parser",
  "rules": {
    "prettier/prettier": "error",
    "standard/computed-property-even-spacing": "off",
    "lines-between-class-members": "off",
    "no-template-curly-in-string": "off",
    "camelcase": "off",
    "import/no-duplicates": "off",
    "no-useless-constructor": "off",
    "no-unusued-vars": "off",
    "@typescript-eslint/no-unused-vars": [
      "error",
      { "argsIgnorePattern": "^_", "ignoreRestSiblings": true }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "**/__tests__/**/*.{ts,js}",
          "**/*.test.{ts,js}",
          "**/test.{ts,js}"
        ]
      }
    ]
  },
  "overrides": [
    {
      "files": [
        "*.test.js",
        "**/__tests__/**",
        "*.test.ts",
        "**/test.ts",
        "**/test-utils/**/*"
      ],
      "env": {
        "jest": true
      }
    },
    {
      "files": ["**/packages/*/src/*", "**/packages/*/src/**/*"],
      "rules": {
        "import/no-commonjs": "error"
      }
    },
    {
      "files": ["**/__fixtures__/*"],
      "rules": {
        "no-unused-vars": "off"
      },
      "env": {
        "jest": false
      }
    },
    {
      "files": ["*.ts"],
      "rules": {
        "prefer-const": "off"
      }
    },
    {
      "files": ["packages/cli/default-files/config.js"],
      "rules": {
        "@typescript-eslint/no-unused-vars": "off"
      }
    }
  ]
}
